body{
    background-color:#F7CAC9;
}
header{
    background: #92A8D1;
    height: 90px;
    width: auto;
    border-radius: 40px;
    position: sticky;
    top: 20px;
}
#nombre{
    display: inline-block;
    width: 150px;
    height: 50px;
    left: 44px;
    top: 18px;
    color: #fff; 
    padding-left: 50px;  
    padding-top: 10px; 
}
#nombre h1{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}
#navbar{
    display: inline-block;
    padding: 20px;
    
    
}
#navbar a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
    line-height: 40px;
}
#lead-content{
    display: block;
    height: 400px;
    width:auto;
    background-color: #92A8D1;
    background-image: url(C:\Users\Lenovo\OneDrive\Escritorio\proyecto\portfolio\assets\nubes.jpg);
    border-radius: 40px;
}
#lead-content p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 400px;
    margin-left: 200px;
/* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    

}
#lead{
    position: relative;
}
#educacion{
    position: absolute;
   top: 50%;
   left: 50%;
}
#experiencia{
    position: absolute;
   top: 50%;
   right: 50%;
}
#educacion, #experiencia{
   
    display: inline-block;
    background-color: #C5B9CD;
    margin-top: 15px;
    margin-left: 15px;
    width: 500px;
    height: 300px;
    border-radius: 40px;
    
}

#educacion p, #experiencia p{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 200;
    line-height: 270px;
    text-align: center;
}