body{
    
    background-color:#F7CAC9;
}
.container-fluid{
   
    background: #92A8D1;
    height: 100px;
    width: auto;
    border-radius: 40px;
    position: sticky;
    top: 20px;
}
.navbar-brand{
    display: inline-block;
    width: 150px;
    height: 50px;
    left: 44px;
    top: 18px;
    color: #fff; 
    padding-left: 50px;  
    padding-top: 10px; 
}
.navbar-brand h1{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}
.navbar-nav{
    float: right;
    padding: 20px;
    
    
}
.item{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
    line-height: 40px;
}
#lead-content{
   
    display: block;
    height: 400px;
    width:auto;
    background-color: #92A8D1;
    background-image: url(assets/nubes.jpg);
    border-radius: 40px;
}
#lead-content p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 400px;
    margin-left: 200px;

    text-transform: uppercase;
    color: #FFFFFF;
    

}

#educacion, #experiencia{
    background-color: #C5B9CD;
    margin-top: 15px;
    margin-left: 15px;
    width: 500px;
    height: 300px;
    border-radius: 40px;
  
}


.titulo{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 200;
    line-height: 20px;
    text-align: center;
}

#educacion p, #experiencia p{
    font-size: 15px;
    font-weight: 200;
    line-height: 50px;
    text-align: center;
}
footer{
    background-color: aqua;
    float: inline-end;

}